<button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Hide Files</button>

<button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Show Files</button>
<br><br>
<div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">List of Files</div>
    <div *ngFor="let file of fileUploads | async">
      <div class="panel-body">
        {{file.empId}}&nbsp;&nbsp;&nbsp;&nbsp;
        {{file.name}}&nbsp;&nbsp;&nbsp;&nbsp;
        {{file.designation}}&nbsp;&nbsp;&nbsp;&nbsp;
        {{file.salary}}&nbsp;&nbsp;&nbsp;&nbsp;
        <form-details [fileUpload]='file.path'></form-details>
      </div>
    </div>
  </div>
</div>