
<!-- <div>
    <form #myForm="ngForm" (ngSubmit)= "upload(myForm)">
    <label> Username : </label>
    <input type="text" name="username"style="margin-left:40px" [(ngModel)]="username">
    <br><br>

    <div>
        <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
    </div>
    <br><br>
    <div>
        <button  class="btn btn-success" [disabled]="!selectedFiles">Submit</button>
    </div>
  </form>
</div> -->



<form [formGroup]="empForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>EmailId</label>
    <input type="text" formControlName="empId">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label>Designation</label>
    <input type="text" formControlName="designation">
  </div>
  <div class="form-group">
    <label>Salary</label>
    <input type="text" formControlName="salary">
  </div>
  <div class="form-group">
    <label>FileUpload</label>
    <input type="file" (change)="fileChange($event)">
  </div>

  
  <button>Submit</button>

</form>